* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-ExtraBold.woff2), 
  url(../fonts/Montserrat-ExtraBold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.woff2), 
  url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.woff2), 
  url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Bold.woff2), 
  url(../fonts/Poppins-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.woff2), 
  url(../fonts/Poppins-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Medium.woff2), 
  url(../fonts/Poppins-Medium.woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  }

:root {
  --white: rgba(255, 255, 255, 1);
  --translucent-white:rgba(255, 255, 255, 0.75);
  --light-red: rgba(169, 42, 29, 1);
  --dark-red: rgba(231, 76, 60, 1);
  --black: rgba(0, 0, 0, 1);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.text-style {
  font-family: 'Montserrat', sans-serif;
  color: var(--translucent-white);
  text-align: left;
}

.container {
  margin: 0 auto;
  width: 1600px;
  text-align: center;
}

.header {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  width: 1300px;
  padding-top: 26px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--white);
  line-height: 54px;
}

.color-red {
  color: var(--light-red);
}

.header__menu {
  display: flex;
  flex-flow: row;
  width: 1150px;
  justify-content: space-between;
  align-items: center;
}

.timetable {
  display: flex;
  flex-flow: row nowrap;
  width: 260px;
  justify-content: space-between;
  align-items: center;
}

.timetable__clock-img{
  display: flex;
  width: 20px;
  height: 20px;
}

.timetable__schedule {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  line-height: 32px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  width: 530px;
}

.nav-menu__list a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style-type: none;
}

.list-item:last-child {
  margin-right: 0px;
}

.nav-menu__list-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.list-red {
  display: flex;
  align-items: center;
  background-color: var(--light-red);
  justify-content: center;
  width: 111px;
  height: 50px;
}

.hero {
  position: relative;
  z-index: -1;
  top: -80px;
  width: 100%;
  height: 850px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 71.06%, var(--black) 91.71%), 
  url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__left-wrapper {
  position: relative;
  top: 318px;
  left: 151px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 618px;
}

hr {
  position: relative;
  top: 15px;
  width: 131px;
  margin: 0px;
  border: none;
  border-top: 2px solid var(--light-red);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.main-content__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
}

.main-content__action-start {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 216px;
}

.action-start__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 150px;
  height: 50px;
  background-color: var(--light-red);
  color: var(--white);
  border: 0;
  line-height: 26px;
}

.right-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 325px;
  right: 75px;
}

.right-wrapper__social-icon {
  display: inline-flex;
  height: 163px;
  flex-direction: column;
  justify-content: space-between;
}

.right-wrapper__section-scroll {
  display: inline-flex;
  flex-direction: row;
  height: 277px;
  width: 160px;;
  justify-content: space-between;
}

.section-scroll {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  transform: rotate(90deg);
  color: var(--white);
  line-height: 26px;
}

.prev, .next {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prev:hover {
  color: var(--light-red);
}

.prev:hover > .arrow div {
  background-color: var(--light-red);
}

.prev:hover > .arrow div::after {
  background-color: var(--light-red);
}

.prev:hover > .arrow div::before {
  background-color: var(--light-red);
}

.next:hover {
  color: var(--light-red);
}

.next:hover > .arrow div {
  background-color: var(--light-red);
}

.next:hover > .arrow div::after {
  background-color: var(--light-red);
}

.next:hover > .arrow div::before {
  background-color: var(--light-red);
}

.arrow {
  cursor: pointer;
  position: relative;
}

.arrow div {
  position: relative;
  width: 18px;
  height: 1px;
  background-color: var(--white);
  display: block;
}

.arrow div::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  background-color: var(--white);
}

.arrow div::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  background-color: var(--white);
}

.arrow_up {
  padding-right: 10px;
}

.arrow_down {
  padding-left: 10px;
}

.arrow_up div::before {
  right: 14px;
  transform: rotate(-135deg);
}

.arrow_up div::after {
  right: 14px;
  transform: rotate(135deg);
}

.arrow_down div::after {
  right: -1px;
  transform: rotate(45deg);
}

.arrow_down div::before {
  right: -1px;
  transform: rotate(-45deg);
}

.popular {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 1107px;
}

.popular__central-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 213px;
}

.popular__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: var(--translucent-white);
  line-height: 58px;
}

.popular__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--translucent-white);
  text-align: center;
  margin-bottom: 20px;
  line-height: 26px;
}

.popular__exercises {
  position: relative;
  top: 35px;
}
.popular__exercise-first::before {
  position: relative;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-top: 3px solid var(--light-red);
  border-left: 3px solid var(--light-red);
}

.popular__exercise{
  padding-bottom: 70px;
}

.popular__first-foto-decoration {
  display: inline-block;
  position: relative;
  width: 320px;
  height: 100%;
}

.popular__first-foto-decoration img {
  position: absolute;
  left: 0px;
  top: 4px;
}

.popular__first-foto-decoration p {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: var(--translucent-white);
  top: 287px;
  left: 72px;
  line-height: 34px;
}

.popular__first-foto-decoration div {
  position: absolute;
  width: 20px;
  height: 21px;
}

.left-corner {
  border-top: 2px solid var(--dark-red);
  border-left: 2px solid var(--dark-red);
  top: 20px;
  left: 16px;
}

.right-corner {
  border-right: 2px solid var(--dark-red);
  border-bottom: 2px solid var(--dark-red);
  top: 568px;
  left: 284px;
}

.individual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 1128px;
}

.individual__upper-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 157px;
  padding-top: 79px;
}

.upper-div__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.upper-div__text {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-right: 96px;
}

.upper-div__text::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -14px;
  width: 2px;
  height: 97px;
  background-color: var(--dark-red);
}

.individual__lower-div  {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
}

.lower-div__right-block {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 720px;
  padding: 212px 0 284px 0;
}

.lower-div__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.lower-div__info {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 181px;
}

.lower-div__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.lower-div__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 846px;
}

.gallery__central-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.gallery__info {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 203px;
  padding: 39px 0 36px 0;
}

.gallery__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--translucent-white);
  text-align: center;
  line-height: 29px;
  padding-right: 10px;
}

.gallery__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--translucent-white);
  text-align: center;
  line-height: 26px;
}

.gallery__foto-1 {
  position: absolute;
  top: -321px;
  left: 568px;
}

.gallery__foto-2 {
  position: absolute;
  top: 135px;
  left: 546px;
}

.gallery__foto-4 {
  position: absolute;
  top: 135px;
  right: 550px;
}

.gallery__foto-5 {
  position: absolute;
  top: 695px;
  right: 558px;
}



.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 846px;
}

.gallery__central-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.gallery__info {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 203px;
  padding: 39px 0 36px 0;
}

.gallery__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--translucent-white);
  text-align: center;
  line-height: 29px;
  padding-right: 10px;
}

.gallery__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--translucent-white);
  text-align: center;
  line-height: 26px;
}

.gallery__foto-1 {
  position: absolute;
  top: -321px;
  left: 568px;
}

.gallery__foto-2 {
  position: absolute;
  top: 135px;
  left: 546px;
}

.gallery__foto-4 {
  position: absolute;
  top: 135px;
  right: 550px;
}

.gallery__foto-5 {
  position: absolute;
  top: 695px;
  right: 558px;
}


.feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 846px;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 1042px;
  background-image: url('../img/feedback.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 268px;
  margin-bottom: 265px;
}

.feedback__upper-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}

.feedback__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: var(--translucent-white);
}

.feedback__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--translucent-white);
}

.feedback__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 154px;
}

.feedback__upper-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 402px;
  height: 60px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  line-height: 26px;
}

.feedback__lower-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 402px;
  height: 60px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--white);
  line-height: 26px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: 1855px;
  padding-top: 94px;
}

.footer__main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 150px;
  padding-right: 230px;
}

.footer__right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 64%;
  padding-bottom: 20px;
}

.footer__left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  color: var(--translucent-white);
  text-align: left;
}

.footer__text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.9px;
  color: var(--translucent-white);
  text-align: left;
  padding-top: 18px;
}

.footer__info-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
}

.info-links__title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 21px;
  color: var(--translucent-white);
  text-align: left;
}

.footer__ul-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 168px;
}

.ul-links {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--translucent-white);
  text-align: left;
}

.footer__info-links a {
  text-decoration: none;
  color: var(--translucent-white);
}

.footer__more-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  padding-left: 33px;
}

.more-links__title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 21px;
  color: var(--translucent-white);
  text-align: left;
}

.footer__more-links a {
  text-decoration: none;
  color: var(--translucent-white);
}

.footer__social-block {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 height: 97px;
}

.social-block__text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: var(--translucent-white);
  text-align: left;
}

.social-block__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 147px;
}

.footer__social-icon {
  display: inline-block;
  height: 43px;
  width: 43px;
  background-color: rgb(41, 41, 41);
}

.footer__social-icon img {
  padding-top: 12px;
}

.footer__copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--white);
  padding: 87px 32px 200px 0;
  text-align: center;
}
